# Git の管理に含めないファイルを指定するためのファイル https://qiita.com/inabe49/items/16ee3d9d1ce68daa9fff
/tmp/
poetry_tf23_01_MoA_compe.lnk
poetry_tfgpu_01_MoA_compe.lnk
my_task_MoA_Prediction.lnk
poetry_tfgpu1_01_MoA_compe.lnk
conda_pytorch_01_MoA_compe.lnk
github_pull.bat
github_push.bat
git_push_kaggle_MoA.bat.lnk
